.Home {
    background-color: #231E40;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
}

.Home-tabs {
    text-align: center;
    padding-top: 1vh;
    color: white;
    padding-bottom: 1vh;
    font-size: 2.3vh;
    font-family: 'Montserrat', sans-serif;
    padding-left: 6vw;
}

.tab-list {
    padding-left: 0;
}
  
.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}
  
.tab-list-active {
    color: #E87F1E;
}

.Home-content {
    text-align: center;
}

.Home-content h1 {
    text-shadow: 8px 15px 25px #000000;
}

.Home-content p {
    margin-top: -5%;
}